.quiz_text{
	display: flex;
	flex-direction: column;
	padding-top: 25vh;
	gap: 10px;
}
.quiz_form{
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	gap: 10px;
}
.fifth_quiz_form{
	flex-direction: column;
}
.other_city{
	display: flex;
	gap: 25px;
}
.rnd{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.fifth_quiz_form .inp{
	width: 32.77%;
}
.inp{
	display: flex;
	align-items: center;
	gap: 25px;
	border: 1px solid white;
	letter-spacing: 2px;
	height: 65px;
	width: calc(50% - 5px);
}
.inp h3{
	color: white;
}
.inp:hover{
	transition: 0.4s ease;
	background-color: #323232;
}
.inp input:checked, .other_city input:checked{
	background-color: #81DBE1;
}
.inp input, .other_city input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid white;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 25px;
	background-color: transparent;
}
.rnd .inp input, .sixth_form input{
	border-radius: 0%;
}
.checked{
	border: 1px solid #81DBE1;
}
footer{
	height: 130px;
	width: 100%;
	padding-left: 160px;
	padding-right: 160px;
	background-color: #191A1A;
	border-top: 1px solid #979797;
}
.footer_items{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	gap: 15px;
}

/* по ширине */
@media(max-width: 800px) {
	.quiz_text{
		padding-top: 5vh;
	}
	.inp{
		width: 100%;
	}
}
/* 5 & 6 */
@media (max-width: 1500px) {
	.fifth_quiz_form .inp{
		width: calc(50% - 5px);
	}
}
@media (max-width: 650px) {
	/* .fifth_quiz_form{
		height: 50vh;
		overflow-y: scroll;
		border: 1px solid gray;
		padding: 10px;
	} */
	.fifth_quiz_form .inp, .sixth_form .inp{
		width: 100%;
		height: 40px;
	}
}
/* по высоте */
@media (max-height: 715px) and (max-width: 800px) {
	.quiz_form{
		margin-top: 20px;
	}
	.quiz_text{
		padding-top: 2vh;
	}
}